@import "../../styles/variables";

.loaderWrapper {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.7;
  background: $background-color;

  &Container {
    @extend .loaderWrapper;
  }

  &Screen {
    @extend .loaderWrapper;
    position: absolute;
  }
}

.loaderIcon {
  position: absolute;
  text-align: center;
  z-index: 999;
  width: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bolder;
  top: 45%;

  svg path {
    fill: $orange-color;
  }
}
