@import "../../components/ChatMessage/styles.module";

.chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 3.2rem;
  background: linear-gradient(145deg, #2e343a, #373e44);
  box-shadow: 8px 8px 13px #31383d,
  -8px -8px 13px #353c43;
}

