@import "../../styles/variables";

.actionButton {
  font-size: 20px;
  cursor: pointer;

  &Edit {
    @extend .actionButton;

    svg path {
      fill: $orange-color;
    }
  }

  &Delete {
    @extend .actionButton;

    svg path {
      fill: $red-color;
    }
  }

  &:active  {
    filter: brightness(75%);
  }

  &:hover  {
    filter: brightness(75%);
  }
}
