.searchLocationContainer {
  display: flex;
  justify-content: center;

  [data-reach-combobox-input] {
    display: block;
    width: 29.125rem;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
  }

  [data-reach-combobox-list] {
    width: 29rem;
  }

  margin-bottom: 0.5rem;
}

.searchLocationPopover {
  position: absolute;
  z-index: 2147483649;
}

[data-reach-combobox],
[data-reach-combobox-input],
[data-reach-combobox-popover],
[data-reach-combobox-list],
[data-reach-combobox-option],
[data-reach-combobox-option][data-highlighted],
[data-reach-combobox-button],
[data-user-value],
[data-suggested-value] {
  z-index: 2147483649;
}

