@import "../../styles/variables";

.deleteModalBody {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.deleteIcon {
  margin-bottom: 2.1rem;

  svg path {
    fill: $red-color;
  }
}

.deleteObjectName {
  font-weight: bolder;
}

.deleteButton {
  background-color: $red-color;
}
