@import "../../styles/variables";

.tableHeaderWrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: $background-color;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);

  & * {
    margin-bottom: 0;
  }
}

.addButton :global(.btn) {
  color: $background-color;
}
