@import "../../../../styles/variables";
@import "../../../../styles/common-controls";

$side-block-width: 25%;

.contactsContainer {
  @extend .inlineCentered;

  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: white;
  padding: 3.5rem 2rem 1rem 2rem;
  margin-top: 3rem;

  &:before {
    content: '';
    position: absolute;
    bottom: 88%;
    width: 100%;
    height: 100%;
    border-radius: 2.2rem;
    box-shadow: 0px 300px 0px 300px $gray-color;
  }
}

.locationBlock {
  flex-basis: $side-block-width;
  z-index: 2;
}

.findOnWebBlock {
  flex-basis: calc(100% - 2 * #{$side-block-width});
  margin-left: $default-side-margin;
  margin-right: $default-side-margin;
  padding: 1rem;
  z-index: 2;
  border-radius: 3.2rem;
  background: #323A40;
  box-shadow: inset 7px 7px 14px #2f363c,
  inset -7px -7px 14px #363e44;
}

.sourcesRow {
  display: flex;
  justify-content: space-around;
  margin-top: 1.2rem;
}

.sourceIcon {
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &:hover {
    svg path {
      fill: $orange-color
    }
  }
}

.aboutUsBlock {
  flex-basis: $side-block-width;
  z-index: 2;
}
