@import "src/styles/variables";

.googleMapsContainer {
  width: 29.0625rem;
  height: 27.5rem;
  border-radius: 0.6rem;
}

.mapTitle {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.mapLocation {
  font-size: 0.8rem;
  color: $background-color;
  margin-bottom: 0;
}
