@import "../../../../styles/variables";

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.2rem;
  background: linear-gradient(145deg, #2e343a, #373e44);
  box-shadow: 8px 8px 13px #31383d,
  -8px -8px 13px #353c43;
  margin-top: 2rem;
  padding: 1.5rem;
  width: 100%
}

.logoImage {
  display: block;
  margin-right: 5rem;
}
