@import "../../../../styles/variables";

.chatMessage {
  padding: 1rem;

  width: fit-content;
  height: fit-content;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &Bot {
    @extend .chatMessage;
    border-radius: 1.25rem 1.25rem 1.25rem 0;

    background: linear-gradient(145deg, #2e343c, #373e48);
    box-shadow: 7px 7px 14px #2f363e,
    -7px -7px 14px #373e48;
  }

  &Client {
    @extend .chatMessage;
    border-radius: 1.25rem 1.25rem 0 1.25rem;
    margin-left: auto;

    background: linear-gradient(225deg, #2e3440, #373e4c);
    box-shadow: -7px 7px 14px #2f3642,
    7px -7px 14px #373e4c;
  }

  &BotLink {
    @extend .chatMessageBot;
    width: 60%;
    text-align: center;
    font-weight: bolder;
    border-radius: 1.25rem;
    cursor: pointer;
    background: linear-gradient(225deg, #2e344d, #373e5b);
    box-shadow: -7px 7px 14px #2f364f,
    7px -7px 14px #373e5b;

    &:hover {
      background: linear-gradient(225deg, #2e3457, #373e68);
    }
  }
}

.messageLink {
  text-decoration: none;
  color: inherit;

  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
    color: inherit;
  }
}
