@import "../../../../styles/variables";

.featureCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $gray-color;
  width: 13rem;
  min-height: 15rem;
  padding: 1.4rem;
  border-radius: 3.2rem;
  box-shadow: inset 5px 5px 39px #31383d,
  inset -5px -5px 39px #353c43;
}

.featureCardMessage {
  margin-top: 1.2rem;
}
